// ----------------------------------------------------------------------
// Font variables
// ----------------------------------------------------------------------

$baseFont: 'Open Sans', sans-serif;
$textFont:  'Helvetica Neue', sans-serif;


// ----------------------------------------------------------------------
// Animation speed
// ----------------------------------------------------------------------
$t150: 150ms;
$t300: 300ms;
$t600: 600ms;

// ----------------------------------------------------------------------
// Layout sizes
// ----------------------------------------------------------------------
$maxW: 1600px;
$breackXL: 1300px;
$breackL: 1220px;
$breack: 1120px;
$minW: 1000px;

$wrapper-padd: 20px;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$cOrng: #ea7222;
$cGrey: #565656;
$cBlack: #000000;
